@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-image: 
    linear-gradient(to bottom right, 
    rgb(63, 63, 63),
    rgb(131, 131, 131));
  background-size: cover;
  background-repeat: no-repeat;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.flex-grid {
  display: flex;
  flex-wrap: wrap;
}

.col {
  flex-basis: 25%;
}


h1 {
  font-family: 'Permanent Marker', cursive;
  color: black;
  text-align: center;
  font-size: 3rem;
  justify-content: center;
}

@media screen and (max-width: 550px) {
  h1 {
    font-size: 1.5rem;
    margin: 2rem 3.8rem;
    line-height: 2rem;
  }
}

footer {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  text-align: center;
  margin-top: 3rem;
}

footer a {
  color: white;
  cursor: pointer;
}



.container {
  border: 1px solid #001427;
  width: 250px;
  height: auto;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 23px 3px rgba(0,0,0,0.50);
  -moz-box-shadow: 0px 10px 23px 3px rgba(0,0,0,0.50);
  box-shadow: 0px 10px 23px 3px rgba(0,0,0,0.50);
}
.btn:nth-of-type(15) {
  border-bottom-left-radius: 4px;
  border: 1px solid #001427;
}
.btn:nth-of-type(17) {
  border-bottom-right-radius: 4px;
  border: 1px solid #001427;
}

.display {
  max-height: 75px;
  height: 75px;
  background-color: #3f3e3e;
  font-family: 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 3.2rem;
  font-weight: lighter;
  color: white;
  text-align: right;
  padding: 10px 10px;
  width: 100%;
  max-width: 91.5%;
  border: 1px solid black;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.input {
  max-height: 30px;
  height: 30px;
  background-color: rgb(245, 245, 97);
  font-family: 
    -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: black;
  text-align: right;
  padding: 10px 10px;
  width: 100%;
  max-width: 91.5%;
  border: 1px solid black;
}

.btn {
  margin: 0;
  font-family: monaco;
  font-size: 1.4rem;
  border: 0.1px solid rgb(34, 34, 34);

  outline: none;
  cursor: pointer;
  padding: 10px 0px;
}

.btn:active {
  background-color: grey;
}

.equal {
  flex-basis: 50%;
}

.clear {
  flex-basis: 75%;
  background-color: rgb(184, 48, 48);
  color: white;
}

.spec {
  flex-basis: 25%;
}

.orange {
  background-color: rgb(247, 117, 43);
  color: #FFFFFF;
}